<!doctype html>
<html>
	<head>
		<title>Ctrl + Film</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<link rel="stylesheet" href="style.css">
		<script src="https://unpkg.com/vue" defer></script>
		<script src="script.js" defer></script>
	</head>
	<body>
		<div id="app">
			<div v-if="isFormState" id="form">
					<h1>CTRL + Film</h1>
					<input type="text" v-model="url" placeholder="YouTube URL" v-bind:readonly="isReadOnly"> <button v-on:click="submitURL()">Search</button>
					<p>- or -</p>
					<input type="file" placeholder="File"> <button v-on:click="submitFile()">Search</button>
					<p>{{ statusMessage }}</p>
					<button v-if="isSearching" v-on:click="cancel()">Cancel</button>
			</div>
			<div v-else>
				<div id="controls">
					<input type="text" v-model="query" placeholder="Search"> <button v-on:click="goBack()">Back</button>
				</div>
				<div v-for="line in text" v-if="(line.text != '') && (query == '' || line.text.includes(query))">
					<h2>{{ line.timestamp }}</h2>
					<pre>{{ line.text }}</pre>
				</div>
				<h2>Audio</h2>
				<p>{{ audio }}</p>
			</div>
		</div>
	</body>
</html>
